root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.java]
max_line_length = 120
ij_java_keep_simple_lambdas_in_one_line = true
ij_java_align_multiline_chained_methods = true
ij_java_align_multiline_parameters = true
ij_java_align_multiline_parameters_in_calls = true
ij_java_align_multiline_throws_list = true
ij_java_align_multiline_extends_list = true
ij_java_align_multiline_ternary_operation = true
ij_java_align_multiline_records = true
ij_java_record_components_wrap = on_every_item
ij_java_keep_builder_methods_indents = true
ij_java_align_subsequent_simple_methods = true
ij_java_keep_simple_methods_in_one_line = true
ij_java_method_call_chain_wrap = normal
ij_java_call_parameters_wrap = normal
ij_java_method_parameters_wrap = normal
ij_java_continuation_indent_size = 8

[{*.yml,*.yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
