root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.java]
ij_java_align_multiline_chained_methods = true
ij_java_align_multiline_extends_list = true

[*.yml]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
